<header class="bg-light py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <div class="d-flex align-items-center gap-2">
            <i id="sidenav-button" class="bi bi-list fs-4 cursor-pointer"></i>
            
            <a href="/" class="d-flex align-items-center link-dark text-decoration-none">
                <span class="fs-4">Portfolio App</span>
            </a>
        </div>

        <div class="d-flex align-items-center justify-content-end">
            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong>@( User?.Identity?.Name ?? "Username" )</strong>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li>
                        <form method="post" action='@Url.Action("Logout", "Authentication")'>
                            <a href='@Url.Action("ChangePasswordView", "ResetPassword")' class="dropdown-item" type="submit">
                                Change Password
                            </a>
                            <button class="dropdown-item" type="submit">
                                Sign out
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>