<nav id="sidenav" class="d-flex flex-column flex-shrink-0 p-3 bg-light sidenav" data-open="true">
    <ul id="sidenav-ul" class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href='@Url.Action("Index", "Home")' id="nav-home" class="nav-link link-dark" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="bi bi-house-fill fs-6"></i>
                <span class="nav-text">Home</span>
            </a>
        </li>
        <li>
            <a href='@Url.Action("Index", "Project")' id="nav-project" class="nav-link link-dark" title="Project" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Project">
                <i class="bi bi-briefcase-fill fs-6"></i>
               <span class="nav-text">Project</span>
            </a>
        </li>
        <li>
            <a href='@Url.Action("Index", "Member")' id="nav-member" class="nav-link link-dark" title="Member" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Member">
                <i class="bi bi-people-fill fs-6"></i>
                <span class="nav-text">Member</span>
            </a>
        </li>
        <li>
            <a href='@Url.Action("Index", "Category")' id="nav-category" class="nav-link link-dark" title="Category" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Category">
                <i class="bi bi-tag-fill fs-6"></i>
                <span class="nav-text">Category</span>
            </a>
        </li>
    </ul>
</nav>