@model List<portofolio_aspnet_core.Models.Project>

<h1 class="display-4 text-center">Project Page</h1>

<ul>
    @if (Model is not null)
    {
        @foreach (var c in Model) 
        {
            <li>@c.Name</li>
        }
    }
</ul>