<form action='@Url.Action("ChangePassword", "ResetPassword")' method="post" class="card-body p-5 d-flex flex-column">
    <h3 class="mb-5">Change Password</h3>

    <div class="mb-4">
        <label class="form-label" for="password">New Password</label>
        <input type="password" id="password" name="password" class="form-control" required/>
    </div>

    <div class="mb-4">
        <label class="form-label" for="passwordConfirmation">Confirm Password</label>
        <input type="password" id="passwordConfirmation" name="passwordConfirmation" class="form-control" required/>
    </div>

    <button class="btn btn-primary ms-auto" type="submit">
        <i class="bi bi-send me-1"></i>
        Change Password
    </button>
</form>