* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

main {
  height: 100%;
  margin-left: 240px;
  padding: 20px;
  transition: 0.5s;
}
main.off {
  margin-left: 4.5rem;
}

.sidenav {
  width: 100%;
  max-width: 240px;
  height: 100%;
  position: fixed;
  top: 68.125px;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
.sidenav.sidenav-off {
  max-width: 4.5rem;
}

@media (min-width: 768px) {
  .sidenav {
    top: 69px;
  }
}

.select2 {
  width: 100% !important;
}

.file-preview:hover {
  opacity: 75%;
  cursor: pointer;
}

.splide__slide img {
  width: 100%;
  height: auto;
}

.splide__slide {
  opacity: 0.3;
}

.splide__slide.is-active {
  opacity: 1;
}

.splide__track.splide__track__thumbnails {
  margin-top: 1rem;
  padding-left: 56px !important;
  padding-right: 56px !important;
}

/* Common */
.cursor-pointer {
  cursor: pointer;
}